# Warning: This file is Ansible Managed, manual changes will be overwritten on next playbook run.
#!/usr/bin/env bash

export KIBANA_HOME=/opt/kibana/8.4.3
export PATH=$PATH:$KIBANA_HOME/bin

#elasticsearch.url: "http://elasticsearch_h:9200"